<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Copy_file_scan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Copy_file_scan.Properties.Settings>
            <setting name="file_in" serializeAs="String">
                <value>\\ged2\alfresco\Heinen\QRCode_TEMP</value>
            </setting>
            <setting name="file_out1" serializeAs="String">
                <value>\\ged2\alfresco\Heinen\QRCode</value>
            </setting>
            <setting name="file_out2" serializeAs="String">
                <value>C:\TEST_QRCODE\scan_in</value>
            </setting>
        </Copy_file_scan.Properties.Settings>
    </applicationSettings>
</configuration>