<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QR_decode.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <QR_decode.My.MySettings>
            <setting name="cmis_connection" serializeAs="String">
                <value>http://ged:8080/alfresco/api/-default-/public/cmis/versions/1.1/atom</value>
            </setting>
            <setting name="cmis_user" serializeAs="String">
                <value>ged</value>
            </setting>
            <setting name="cmis_pwd" serializeAs="String">
                <value>heinen</value>
            </setting>
            <setting name="pdf_in" serializeAs="String">
                <value>C:\QRCODE\scan_in</value>
            </setting>
            <setting name="pdf_error" serializeAs="String">
                <value>C:\QRCODE\pdf_error</value>
            </setting>
            <setting name="log_file" serializeAs="String">
                <value>C:\QRCODE\scan_log.txt</value>
            </setting>
            <setting name="img_temp" serializeAs="String">
                <value>C:\QRCODE\test.bmp</value>
            </setting>
            <setting name="pdf_ok" serializeAs="String">
                <value>C:\QRCODE\pdf_ok</value>
            </setting>
            <setting name="xml_file" serializeAs="String">
                <value>\\srv08\Share\@Fichiers_XML\Liste_categorie_QR_general.xml</value>
            </setting>
            <setting name="em_martha" serializeAs="String">
                <value>mbr@heinen.eu</value>
            </setting>
            <setting name="em_cuisine" serializeAs="String">
                <value>sec@heinen.eu</value>
            </setting>
            <setting name="em_bet" serializeAs="String">
                <value>mrx@heinen.eu;fbs@heinen.eu</value>
            </setting>
            <setting name="em_sec" serializeAs="String">
                <value>sec@heinen.eu</value>
            </setting>
            <setting name="em_f111" serializeAs="String">
                <value>mrx@heinen.eu</value>
            </setting>
            <setting name="em_inconnu" serializeAs="String">
                <value>fbs@heinen.eu</value>
            </setting>
            <setting name="pdf_temp" serializeAs="String">
                <value>C:\QRCODE\pdf_tmp</value>
            </setting>
            <setting name="em_erreur" serializeAs="String">
                <value>mrx@heinen.eu;fbs@heinen.eu</value>
            </setting>
            <setting name="cmis_conn_10" serializeAs="String">
                <value>http://ged:8080/alfresco/api/-default-/public/cmis/versions/1.0/atom</value>
            </setting>
            <setting name="pdf_in_2" serializeAs="String">
                <value>T:\SCAN\QR_Code\Eplan</value>
            </setting>
            <setting name="tb_pdf_ok" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_pdf_ko" serializeAs="String">
                <value />
            </setting>
        </QR_decode.My.MySettings>
    </userSettings>
</configuration>